name: CI

on:
    push:
    pull_request:

jobs:
    phpunit:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php: ["8.0", "8.1", "8.4", "8.5"]
        steps:
            - uses: actions/checkout@v4
            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer:v2
                  coverage: xdebug
            - name: Install dependencies
              run: composer install --no-interaction --prefer-dist
            - name: Run tests
              run: vendor/bin/phpunit --coverage-clover=coverage.xml
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  files: coverage.xml
                  token: ${{ secrets.CODECOV_TOKEN }}
                  fail_ci_if_error: true
